* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    padding: 0;
    cursor: pointer;
    border-color:#FF5500;

}

.main-page-wrapper {
    background: url(../img/hero.png) center top no-repeat,
    url(../img/bottom-pic.png) right bottom 340px no-repeat;
}

.wrapper__content {
    margin-bottom: 50px;
}
.container {
    width: 1144px;
    margin: 0 auto;
}

.header {
    width: 1142px;
    min-height: 129px;
    position: relative;
    top: 21px;
    margin-bottom: 100px;
}

.logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    top: 21px;
}


.menu__list {
    position: absolute;
    left: 440px;
    top: 17px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    position: absolute;
    font-style: normal;
    text-align: right;
    top: 5.64px;
    right: 0;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
}

.contacts__info {
    color: #FF3D00;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 5px;
    
}

.hello {
    margin-bottom: 230px;
}

.hello__title {
    display: inline-block;
    width: 780px;
    height: 200px;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-left: 180px;
}

.hello__text {
    display: inline-block;
    width: 392px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 45px;
    margin-left: 374px;
}

.button {
    width: 195px;
    height: 55px;
    background: #FF3D00;
    border-radius: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button__main {
    display: block;
    margin-left: 474px;
}

.offers {
    margin-bottom: 181px;
}
.offers__item {
    display: inline-block;
    position: relative;
    min-height: 476px;
    width: 362px;
    margin-right: 23px;
    border-radius: 4px;
    background: #FFFFFF;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    position: absolute;
    margin-top: 40px;
    margin-left: 28px;
}

.offers__content {
    margin-top: 148px;
    margin-left: 20px;
}
.offers__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 17px;
}

.offers__features--text {
    display: inline-block;
    width: 100px;;
    height: 41px;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    color: #666666;
    margin-right: 81px;
}

.offers__features--text:last-child {
    margin-right: 0;
}

.offers__features--num {
    color: black;
    font-weight: bold;
}

.offers__features {
    margin-bottom: 6px;
}

.offers__text {
    width: 306px;
    height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-top: 0;
    margin-bottom: 28px;
}

.button--light {
    background: #FFFFFF;
    color: #FF5500;
}

.btn-wrapper {
    margin-left: 5px;
}

.title {
    width: 376px;
    height: 49px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    margin-bottom: 51px;
}

.news {
    margin-bottom: 143px;
}

.news__list {
    margin-bottom: 57px;
}
.news__items {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    width: 557px;
    height: 394px;
    margin-right: 21px;
}

.news__items:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .4;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 9px 30px;
    min-height: 140px;
}

.news__data {
    font-size: 14px;
    margin-bottom: 6px;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
}

.news__text {
    width: 442px;
    margin: 0;
}

.pagination {
    text-align: center;
}

.pagination__info, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__items {
    display: inline-block;
    vertical-align: middle;
}

.pagination__items--active .pagination__number {
    background: #FF5500;
    
}

.pagination__number {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.about__content::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 505px;
    width: 490px;
    background: url("../../img/cameraman.png") center center / cover no-repeat;
}

.about__desc {
    background: #FFFFFF;
    padding: 71px 82px;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    min-height: 455px;
    margin-left: -142px;
    margin-top: 96px;
    border-radius: 4px;
}

.about__title {
    color: #000000;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about__desc--text {
    color: #000000;
    width: 502px;
    margin-bottom: 87px;
}

.button_about {
    width: 168px;
    height: 55px;
}

.footer-container--content {
    border-top: 1px solid #FFFFFF;
    opacity: 0.1;
    margin-bottom: 15px;
}

.footer {
    height: 146px;
    position: relative;
    margin-top: 40px;
}

.menu--footer {
    top: 21px;
}


.menu__list--footer {
    position: absolute;
    left: 326px;
    top: 16px;
}

.menu__item--footer {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item--footer:last-child {
    margin-right: 0;
}

.menu__link--footer {
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.menu__link--footer:hover {
    color: #FF3D00;
}

.socials {
    position: absolute;
    top: 9px;
    right: 269px;
}

.socials__items {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__items:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}
