
.footer-container--content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.footer__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}