.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
    transition: .5s;
}

.form__input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input--textarea {
    min-height: 235px;
}

.form__controls {
    display: flex;
    margin-bottom: 24px;
}

.form__controls--title {
    width: 38%;
    font-size: 18px;
    line-height: 25px;
}

.control {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-right: 15px;
    margin-bottom: 10px;
}

.controls__item:nth-child(5) {
    margin-right: 0;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}
