.hello {
    display: flex;
    align-items: center;
    min-height: 400px;
    margin-bottom: 233px;
}

.hello__container--text {
    min-height: 333px;
    width: 100%;
}

.hello__title {
    display: flex;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase; 
}

.hello__text {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    padding-left: 375px;
    padding-top: 19px;
    margin-bottom: 43px;
}