.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    min-height: 537px;
    padding-top: 85px;
}

.inner-section--form {
    padding-top: 80px;
}

.inner-section--bg--grey {
    background: #E5E5E5;
}

.inner-section--title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 58px;
}

.inner-section--title--form {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 89px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 208px;
    height: 120px;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
}

.partners__link:hover {
    filter: grayscale(0);
}