.section__news {
    margin-bottom: 147px;
}

.news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
}

.news__items {
    position: relative;
    vertical-align: top;
    overflow: hidden;
    min-height: 394px;
    margin-right: 21px;
    flex: 1;
}

.news__items:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .4;
}

.single-news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
}

.single-news__data {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 13px;
}

.single-news__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}

.single-news__text {
    font-size: 16px;
    line-height: 21px;
    width: 442px;
    margin: 0;
}