.offers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}
.offers__item {
    min-height: 476px;
    width: calc(100% / 3 - 19px);
    border-radius: 4px;
    background: #FFFFFF;
    padding: 35px 24px 50px;
}

.offers__item:nth-child(2), .offers__item:nth-child(3) {
    padding: 39px 23px 50px;
}  

.offers__img {
    padding-left: 5px;
    margin-bottom: 26px;
}

.offers__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 17px;
}


.offers__img:nth-child(2), .offers__img:nth-child(3) {
    height: 76px;
    width: 76px;
}

.offers__features {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 22px;
}

.offers__features--text {
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    color: #666666;
}

.offers__features--text:nth-child(1) {
    width: 102px;

}

.offers__features--text:nth-child(2) {
    width: 211px;
    padding-left: 81px;
}

.offers__features--num {
    color: black;
    font-weight: bold;
}


.offers__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 28px;
}