.page-content {
    background: #F4F5F5;
    color: #303030;
    padding: 92px 0;
}

.service {
    display: flex;
}
.services__item {
    margin-bottom: 49px;
}

.service__img {
    width: 41%;
}

.service__content {
    flex: 1;
    margin-left: 48px;
}

.service__title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    padding-top: 12px;
}

.service__desc {
    padding-top: 13px;
    line-height: 27px;
}