.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__info {
    margin-right: 28px;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__items {
    text-align: center;
}

.pagination__items--active .pagination__number {
    background: #FF5500;
    
}

.pagination__number {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 21px;
}