.top-line {
    min-height: 410px;
    background: url(../../img/top-line.png) right 50% top no-repeat;
    display: flex;
    flex-direction: column;
}

.top-line__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.page-title {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
    padding-top: 5px;
}

.breadcrubms {
    padding-bottom: 27px;
}

.breadcrubms__list {
    display: flex;
    align-items: center;
}

.breadcrubms__item {
    display: flex;
    align-items: center;
}

.breadcrubms__item--active .breadcrubms__link {
    color: #9A9A9A;
    font-weight: 700;
    font-size: 14px;
    text-decoration-line: underline;
}

.breadcrubms__item::after {
    content: "/";
    color: #9A9A9A;
    padding-right: 3px;
    padding-left: 3px;
}
.breadcrubms__item:last-child::after {
    display: none;
} 

.breadcrubms__link {
    color: #9A9A9A;
    font-size: 14px;
    text-decoration-line: underline;

}